{
    metrics {
		per_host
	}
}

http://localhost:2019 {
    metrics
}

csos.josefkolar.cz {
    @telemetry path /prometheus/* /grafana/*

    handle_path /hls/* {
        reverse_proxy {
            to localhost:8888
            header_down Location ^/ /hls/
        }
    }
    handle_path /webrtc/* {
        reverse_proxy {
            to localhost:8889
            header_down Location ^/ /webrtc/
        }
    }

    basic_auth @telemetry {
        # TODO: move
		admin $2a$14$rP.sNPFpuEd.zsqxIcz6nuJ77XOE51B4cZlAsg8OVRjn0jJ4mLHeS
	}

    # handle, do not strip /prometheus
    handle /prometheus/* {
        reverse_proxy localhost:9090
    }

    # handle, strip /grafana
    handle_path /grafana/* {
        reverse_proxy localhost:3000
    }

    respond "ČO is healthy!"
}

# allow cloud connection with hardcoded http:// in TallyArbiter
cloud.ta.csos.josefkolar.cz:80, socket.tally.csos.josefkolar.cz:80 {
    reverse_proxy localhost:4455
}

ta.csos.josefkolar.cz, tally.csos.josefkolar.cz {
    reverse_proxy localhost:4455
}
